/* Custom navbar styles */
.navbar {
    background-color: #343a40; /* Darker background for navbar */
}

.navbar .nav-link {
    color: #f8f9fa;
}

.navbar .nav-link:hover {
    color: #ffb700; /* Custom hover color */
}

/* Custom card styles */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow to cards */
}

.card-title {
    font-weight: bold;
}

.card-footer ul {
    list-style: none;
    padding: 0;
}

.card-footer ul li {
    padding: 4px 0;
    font-size: 0.9rem;
}

/* Custom Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}
